@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');

body {
  background: #fff;
  color: #222;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}


.Fotos{
  height: 1016px;
  width: 1525;
}

.Navbar {
  background-image: url(./assets/gul.png);
}
:root {
  --mainDark: #343a40;
  --mainGrey: rgba(109, 109, 109);
  --mainLightGrey: rgba(172, 172, 172);
  --mainWhite: #fff;
  --mainBlue: #007bff;
}


.photo{
  display: block;
    margin: auto;
}

.Blog{
  float: left;
}
.text{
  float: right;
}
.menu-blog{
  cursor: pointer;
}

.Blog {

  border-radius: 10px 10px 0 0;
  transition: transform 500ms ease;
  cursor: pointer;
}

.Blog:hover {
  transform: scale(1.05);
}

.Blog {
  float: left;
  border-radius: 10px 10px 0 0;
  transition: transform 500ms ease;
  cursor: pointer;
}

.Blog:hover {
  transform: scale(1.05);
}

.text {
  float: right;
}

.menu-blog {
  cursor: pointer;
}
.Footer-social{
  color: rgb(0, 0, 0);
font-family:Verdana, Geneva, Tahoma, sans-serif;
font-size: 18px;
}
.Text  {
  color: rgb(2, 2, 2);
  text-decoration: none;
  cursor: pointer;
  font-weight:500;
}

.Tex {
  color: black;
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
  
}
/* History.css */

.Container {
  padding-top: 40px;
}

h1 {
  font-size: 32px;
  font-weight: bold;
  margin-top: 20px;
}

.Glav {
  font-size: 16px;
  line-height: 1.5;
  margin-top: 10px;
  color: black;
  font-family:Georgia, 'Times New Roman', Times, serif ;
}

ul.Glav {
  margin-top: 10px;
  margin-left: 20px;
}

.photo {
  margin-top: 60px;
  width: 100%;
  max-width: 400px;
  height: auto;
}

.Texts {
  color: #ca0f0f;
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
}

